%% -*- erlang -*-
%% Config file for gsms application
{deps, [ {uart, ".*", {git, "https://github.com/tonyrog/uart.git"}},
	 {lager, ".*", {git, "https://github.com/basho/lager.git"}}]}.

%% {erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}, {d,debug}]}.
{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
{sub_dirs, ["src"]}.
