%% -*- erlang -*-
%% GSMS
%% Configuration file for included erlang applications.
%%
[
 {gsms, [{interfaces,
	  [
	   {gsms_0705, 1, [{device,"/dev/tty.usbserial-FTF5DP2J"},
			   {bnumber, "<phone-number>"},{baud,19200},
			   {reopen_timeout, 5000}]}
	   {gsms_0705, 2, [{device,"/dev/tty.HUAWEIMobile-Pcui"},
			   {bnumber, "<phone-number>"},
			   {reopen_timeout, 5000}]}
	   {gsms_0705, 3, [{device, "/dev/tty.usbserial"},
			  {bnumber, "<phone-number>"},
			  {baud, 9600}]}
	  ]}
	]},

 {kernel,
  [
   %% {log_root, "/var/erlang/gsms/log"}, %% on target
   {logger_level, debug}, %% debug},
   {logger,
    [
     {handler, default, undefined}, %% removed default handler
     {handler, default, logger_disk_log_h,
      #{ level => all,
         config => #{ file => "logs/console.log",
                      type => wrap,
                      max_no_files => 4,
                      max_no_bytes => 1000000
                    } 
       }},
     {handler, error, logger_disk_log_h,
      #{ level => error,
         config => #{ file => "logs/error.log",
                      type => wrap,
                      max_no_files => 4,
                      max_no_bytes => 1000000
                    }
       }},
     {handler, debug_tty, logger_std_h,
      #{ level => debug,
         filter_default => stop,
         filters => [{debug_only,
                      {fun logger_filters:level/2, 
                       {log, eq, debug}}}],
         config => #{ type => standard_io } %% standard_io | standard_error 
       }},
     {handler, debug, logger_disk_log_h,
      #{ level => debug,
         filter_default => stop,
         filters => [{debug_only,
                      {fun logger_filters:level/2, 
                       {log, eq, debug}}}],         config => #{ file => "logs/debug.log",
                      type => wrap,
                      max_no_files => 4,
                      max_no_bytes => 1000000
                    }}
     }

    ]}
  ]}


].
